
.boxForm{
    width: 600px;
    height: 650px;
    background-color: rgba(129, 166, 229, 0.53);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    
}
.titleBoxForm{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.personalDataBox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.medicalDataBox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.ocupationalDataBox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.nameBox{
    display: flex;
    flex-direction: column;
}

.dateDataBox{
    display: flex;
    flex-direction: column;
}

.titlePersonalData{
    padding-left: 20px;
}